<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% set layout = "layout.html" %}

{% if data['brand'] == "JDR" %}
  {% set layout = "layout-volunteer-jdr.html" %}
{% elseif data['brand'] == "BPOR" %}
  {% set layout = "layout-volunteer-bpor.html" %}
{% endif %}

{% extends layout %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {% if data['brand'] == "BPOR" %}

    {{ panel({
      heading: {
        text: "Request submitted"
      },
      html: "Your reference number <strong>BPOR00123</strong>"
    }) }}

    {% endif %}

    {% if data['brand'] == "JDR" %}

    {{ panel({
      heading: {
        text: "Request submitted"
      },
      html: "Your reference number <strong>JDR00123</strong>"
    }) }}

    {% endif %}

    {% if data['brand'] != "BPOR" and data['brand'] != "JDR" %}

    {{ panel({
      heading: {
        text: "Request submitted"
      },
      html: "Your reference number <strong>NIHR00123</strong>"
    }) }}

    {% endif %}

    {% if data['brand'] == "BPOR" or data['brand'] == "JDR" %}

    <p>Keep a record of your reference number. You'll need it if you contact us.</p>

    <h2 class="nhsuk-heading-m">What happens next?</h2>

    <p>We’ll review your study to check that it meets our requirements. This can take up to 3 working days.</p>

    <p>We’ll email <strong>{% if soPrimaryContactFirstName and soPrimaryContactLastName %}{{ data['soPrimaryContactFirstName'] }} {{ data['soPrimaryContactLastName'] }}{% else %}Jane Doe{% endif %}</strong> if we need any more information.</p>

    <p>If you would like to view the details submitted for this study, you'll need to <a href="#">create a Recruit Registry Volunteers account</a>.</p>

    <p>If you need more support or have any questions, you can email us at <a href="mailto:bepartofresearch-volunteerservice@nihr.ac.uk">bepartofresearch-volunteerservice@nihr.ac.uk</a></p>

    {% else %}

    <p>Keep a record of your reference number. You'll need it if you contact us.</p>

    <h2 class="nhsuk-heading-m">What happens next?</h2>

    <p>We’ll review your study to check if it meets our requirements. This can take up to 3 working days.</p>

    <p>We’ll email <strong>{% if data['primaryContactConfirm'] == "Yes" %}{% if data['researcherFirstName'] %}{{ data['researcherFirstName'] }}{% else %}Jane{% endif %} {% if data['researcherLastName'] %}{{ data['researcherLastName'] }}{% else %}Doe{% endif %}{% elif data['primaryContactConfirm'] == "No" %}{{ data['soPrimaryContactFirstName'] }} {{ data['soPrimaryContactLastName'] }}{% else %}Jane Doe{% endif %}</strong> if we need any more information.</p>

    <p>If you need more support or have any questions, you can email us at <a href="mailto:bepartofresearch-volunteerservice@nihr.ac.uk">bepartofresearch-volunteerservice@nihr.ac.uk</a></p>

    {{ button({
      text: "Return to Recruit registry volunteers service",
      classes: "nhsuk-button--secondary",
      href: "/researcher/v2/home"
    }) }}

    {% endif %}

    </div>
  </div>
{% endblock %}
