<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% set layout = "layout.html" %}

{% if data['brand'] == "JDR" %}
  {% set layout = "layout-volunteer-jdr.html" %}
{% elseif data['brand'] == "BPOR" %}
  {% set layout = "layout-volunteer-bpor.html" %}
{% endif %}

{% extends layout %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<form action="/{{folder}}/{{subfolder}}/so-health-conditions" method="post" novalidate>

{{ searchableCheckboxes({
  label: {
    text: "What health conditions does your study involve?",
    size: "l"
  },
  classes: "nhsuk-checkboxes--small",
  hint: {
    html: '<p>Choose the health conditions relevant to your study.</p><p>We’ll use this information to identify volunteers whose profile interests match these conditions and may be suitable for recruitment.</p>'
  },
  id: "soHealthConditions",
  name: "soHealthConditions",
  selectedLabel: "Selected health conditions",
  items: data.health_conditions
}) }}

{{ button({
  text: "Continue"
}) }}

</form>

    </div>
  </div>

{% endblock %}
